.table-full{
  display: inline-table; !important;
}
.table > thead > tr > th {
  border-bottom: 0px;
  font-size: 12px;
  letter-spacing: 0.07em;
}
.table th {
  border-top: 1px solid #e8edf1;
  padding: 10px 12px;
  font-size: 12px;
  text-transform: uppercase;
}
.table th.medium-cell {
  width: 112px;
}
.table th.big-cell {
  width: 200px;
}
.table tr.row_selected td {
  background-color: #ffffcc !important;
}
.table tr.row_selected .progress {
  background-color: #ffffff;
}
.table td {
  border-top: 1px solid #e8edf1;
  vertical-align: top;
  padding: 11px 12px !important;
  color: #576475;
  font-size: 13px;
}
.table td.no-border {
  border: none;
}
.table td:first-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.table td:last-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.table td .progress {
  margin-bottom: 0px;
}
.table td .muted {
  color: #95989a;
}
.table td.clickable {
  cursor: pointer;
}
.table .checkbox {
  margin-left: 3px;
  height: 19px;
}
.table .star {
  margin-left: 3px;
}
th {
  text-align: left;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px;
}
.table th input[type="radio"],
input[type="checkbox"],
.table td input[type="radio"],
input[type="checkbox"] {
  margin-top: -2px;
}
.table td.small-cell,
.table th.small-cell {
  width: 40px;
}
.table-fixed-layout {
  table-layout: fixed;
}
.table-fixed-layout td {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 9px;
}
.table-condensed th .checkbox {
  margin-left: 4px;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e8edf1;
}
.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #ecf0f2;
  border: none;
}
.table-striped tbody > tr > td {
  border: 0px;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #e2e8eb;
}
.table-hover tbody tr.row_selected:hover > td {
  background-color: #fef8ae !important;
}
.table-hover tbody tr:hover > td .progress {
  background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
  padding: 10px 5px;
}
.table-tools-actions {
  margin: 0px 5px;
}
.inner-table td {
  background-color: transparent !important;
}
.table-bordered {
  border-color: #e8edf1 !important;
}
.table-bordered th {
  background-color: #ecf0f2;
  border: 0 !important;
}
.table-bordered td {
  border: 1px solid #e8edf1 !important;
}
.table-bordered td:first-child {
  border-radius: 0px;
}
.table-bordered td:last-child {
  border-radius: 0px;
}